<div class="jumbotron">
  <h1>Welcome to Global Self-Help </h1>
    <h2>Improving people's live</h2>
</div>
 <div class="container">  
<div class="center">
 <%= link_to "Create Your Project", new_project_path, class: "btn btn-success btn-lg "%>
   
 </div>
 <div class="row">
    <% @projects.each do |project| %>
       <div class="col-md-3 ">
         <div class="thumbnail ">
            <%= image_tag project.image.url %>
            <div class="caption">
                <h4> <b><%= project.project_type %></h4></b>
                <p> <%= project.region %>, <%= project.country %></p>
                <p><%= project.impact_people %></p>   

                <table class="table table-condensed">
                    <tr>
                      <td>Goal</td>
                      <td>Raised</td>
                    </tr>
                    <tr>
                      <td class="danger" ><%= "#{number_to_currency(project.amount)}"%></td>
                      <td class="success"><%= "#{number_to_currency(project.raised)}"%></td> 
                    </tr>
              </table>            
                  
             <%= link_to 'Show detail', project , class: "btn btn-link" %> 
              <% if (user_signed_in?) && (current_user == project.user) %>
                <%= link_to 'Edit', edit_project_path(project) , class: "btn btn-link" %> 
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-link" %>
             <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>




